.lunch-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 200px;
    padding: 8px 8px 12px 12px;
    background-color: white;
    color: black;
    transition: background-color color;
    transition-duration: 0.2s;
    text-overflow: hidden;
    cursor: pointer;
    overflow-x: auto;
    overflow-y: hidden;
}

.lunch-card:hover {
    background-color: #7D9D9C;
    color: white;
}

.lunch-card:active {
    background-color: #567F72;
    color: white;
}

.menu-title {
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
}

.prevent-overflow {
    max-width: 100%;
    width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-align: center;
}

.people-list-wrapper {
    display: flex;
    flex-direction: column;
}

.sm-bold {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.menu-people {
    height: 80%;
    font-size: 13px;
    font-weight: 700;
    overflow-y: auto;
    text-overflow: ellipsis;
}